*.mo
composer.json
composer.lock
conf/.env.php
conf/linkedDataProxy.json
conf/mobilemap2.conf
http/geoportal/preview/*.jpg
http/img/altitude_profile/
http/tmp/
http/videos/
log/*
mapserver/spatial_security.map
metadata/
tools/tmp/
tools/wms_extent/extents.map
vendor/